In [ ]:
cost = 1.25
profit_margin = 0.2
bags = 500

total_profit = cost*profit_margin*bags
print(total_profit)

125.0

In [ ]:
flag = True
print(type(flag))

<class 'bool'>

In [ ]:
a = int(input("Enter the value of a: "))
print(a)

Enter the value of a: 5
5

In [ ]:
val = int(input("Enter the value: "))
print("The answer is = ", val+(val*val)+(val*val*val))

Enter the value: 8
The answer is =  584

In [ ]:
temp = int(input("Enter the temperature in fahrenheit: "))
celc_temp = 9*temp/5 + 32

print("The temperature in celcius is ", celc_temp)

Enter the temperature in fahrenheit: -40
The temperature in celcius is  -40.0

In [ ]:
wt = int(input("Enter the weight "))
ht = float(input("Enter the height "))

bmi = wt/(ht*ht)
print("The BMI is ", bmi)

Enter the weight 60
Enter the height 1.6
The BMI is  23.437499999999996

In [ ]:
x1 = int(input("Enter the x1 "))
x2 = int(input("Enter the x2 "))
y1 = int(input("Enter the y1 "))
y2 = int(input("Enter the y2 "))

dist = ((x2-x1)**2 + (y2-y1)**2)**0.5
print("The distance between these points is ", dist)

Enter the x1 0
Enter the x2 3
Enter the y1 4
Enter the y2 0
The distance between these points is  5.0