In [ ]:
i = 1
while(i <= 10):
    print(6*i)
    i= i+1

6
12
18
24
30
36
42
48
54
60

In [1]:
n = int(input("Enter the value of n"))
i = 1

while(i <= n):
    j = 1
    while(j <= i):
      print("*", end=" ")
      j = j + 1

    i = i + 1
    print("\n")

Enter the value of n5
*

* *

* * *

* * * *

* * * * *

In [ ]:
import numpy as np

In [ ]:
#Recursion OP
def printCounting(n):
  if(n == 0):
    return

  printCounting(n-1)
  print(n)

printCounting(5)

1
2
3
4
5

In [ ]:
def checkEvenOdd(n):
  if(n % 2 == 0):
    print("The number is even")

  else:
    print("The number is odd")

n = int(input("Enter the number"))
checkEvenOdd(n)

Enter the number51496
The number is even

In [ ]:
import pandas as pd

In [ ]:
data1 = {'Name':['Jai', 'Princi', 'Gaurav', 'Anuj'],
         'Age': [27, 47, 23, 63],
         'Percentage': [99,87, 85, 76],
         'Address':['Lucknow', 'Kanpur', 'Allahabad', 'Kannauj']}